body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;   
}

.container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: absolute;
  z-index: 1000;
}

.coat {
  width: 60px;
  margin: 0 auto;
}
  
h1 {
  margin: 10px 0;
  font-size: 25px;
  color: #008b8b;
  text-transform: uppercase;
}

#mapid { 
  height: 100%; 
}

.leaflet-popup-content {
  text-align: center;
}

.img-map {
  width: 250px;
  padding-top: 15px;
}

.popup-text {
  color: #008b8b;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: darkcyan;
}

.leaflet-container a.leaflet-popup-close-button {
  width: 25px;
  color: #008b8b;
  font-size: 20px;
  font-weight: bold;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  opacity: 0.6;
}

.leaflet-control-geocoder-icon {
	background-image: url(/lesson33/img/geocoder.png);
	background-repeat: no-repeat;
	background-position: center;
}

.leaflet-control-container .leaflet-routing-container-hide {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.leaflet-routing-collapse-btn {
  cursor: pointer;
}
