body {
    background-color:rgba(18, 17, 22);
}

footer,
.social {
    margin: 0 auto;
}

footer {
    height: 420px;
    width: 90%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(18, 17, 22, 0.5);
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    padding-top: 120px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
    width: 112px;
    height: 36px;
}

.social {
    width: 158px;
    height: 14px;
    margin-bottom: 21px;
    margin-top: 0;
    padding-bottom: 0;  
    padding-top: 0;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.separator {
    margin-bottom: 22px;
    margin-top: 0;
    padding-bottom: 0;  
    padding-top: 0;
    width: 230px;
    height: 1px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.ico {
    width: 146px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;  
    padding-top: 0;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.link {
    color: #00c7fc;
    text-decoration: none;
}

.copyright {
    width: 250px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 86px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-family: 'Open Sans Semibold';
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
}

.my-icon:hover {
    fill: #00c7fc;
}